@import '../../../variables.scss';

.cart {
  &__td {
    padding: 15px 20px;
    text-align: center;
    border-bottom: 1px solid $lightgrey;
  }

  &__img {
    width: 150px;
    height: 100px;
    object-fit: contain;
  }

  &__minus, &__plus{
    display: inline-block;
    margin: 0 1rem 0 1rem;
    &:hover{
      cursor: pointer;
      color: $accent;
      text-shadow: 0 0 5px rgba($accent, 0.3);
      transition: color 200ms;
    }
  }
}